.hintDiv {
  cursor: pointer; /* Меняем курсор при наведении */
  user-select: none; /* Убираем выделение при клике */
  position: relative;
}

/* Стили элемента */
.text {
  min-width: 82px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #113946;
  border-bottom: 1px dotted #113946;
}

.deadText {
  min-width: 82px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: red;
  border-bottom: 1px dotted red;
}

/* Стили блока подсказки */
.hint {
  /* Скрываем подсказку */
  visibility: hidden;
  opacity: 0;

  /* Для плавности появления */
  transition: 0.15s;

  /* Позиционируем */
  position: absolute;
  top: 130%;
  right: -35%;
  z-index: 1;

  /* Задаем размеры и цвета */
  width: 140px;
  padding: 7px 5px 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  background-color: #364364;
  text-align: center;
}

/* Стрелка для блока подсказки */
.hint::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #364364 transparent;
}

/* Стили блока подсказки */
.hintDead {
  /* Скрываем подсказку */
  visibility: hidden;
  opacity: 0;

  /* Для плавности появления */
  transition: 0.15s;

  /* Позиционируем */
  position: absolute;
  top: 130%;
  right: -35%;
  z-index: 1;

  /* Задаем размеры и цвета */
  width: 140px;
  padding: 7px 5px 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  background-color: red;
  text-align: center;
}

/* Стрелка для блока подсказки */
.hintDead::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent red transparent;
}

/* При наведении показываем блок подсказки */
.hintDiv:hover .hint {
  visibility: visible;
  opacity: 1;
}

.hintDiv:hover .hintDead {
  visibility: visible;
  opacity: 1;
}

.gridDescription {
  display: grid;
  grid-template-columns: 20px 70px 35px;
  text-align: right;
}