.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: scroll;
  scrollbar-color: #4e4e4e #c0c0c0 ;
  -ms-overflow-style: auto;
  scrollbar-width: thin;
  @supports (scrollbar-gutter: stable) {
    overflow: auto;
    scrollbar-gutter: stable;
  }
}


.patientsList {
  max-width: 750px;
  min-width: 450px;
  display: flex;
  flex-direction: column;
}

.quantity {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.patientCard {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #D0D0D0;
  box-shadow: 0 0 8px #D0D0D0;
  border-radius: 5px;
}

.patientCard:not(:last-child) {
  margin-block-end: 20px;
}

.patientCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
}

.patientFIO {
  margin: 0;
  min-width: 333px;
}

.patientAdditionalHeaderInfo {
  width: 17rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.birthdate {
  font-size: 0.9rem;
}

.accent {
  color: var(--accent-color);
}

.john {
  height: calc(100vh - 144px);
  margin-block-end: -20px;
  min-width: 627px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}