@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

:root {
  --redux-color: #764abc;
  --create-btn-color: #1ECD97;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #4F5155;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafbff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
