.button {
  outline: none;
  height: 1.5rem;
  text-align: center;
  width: 4.875rem;
  border-radius: 1.5rem;
  background: #fafbff;
  border: 2px solid #1ECD97;
  color: #1ECD97;
  text-shadow: 0 0;
  letter-spacing: 1px;
  font-size: 0.75rem;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-block-end: 5px;
}
.button:hover {
  color: white;
  background: #1ECD97;
}
.button:active {
  letter-spacing: 2px;
}
.button:after {
  content: "Создать";
}

.onClick {
  width: 1.5rem;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #1ECD97;
  animation: rotating 2s 0.25s linear infinite;
}
.onClick:after {
  content: "";
}
.onClick:hover {
  color: #1ECD97;
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #1ECD97;
}
.validate:after {
  content: "\2713";
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
